{% block subject %}
biby仮登録のお知らせ
{% endblock subject%}

{% block text_body %}
会員登録手続きを行っていただき、ありがとうございます。

下記URLよりサイトにアクセスの上、引き続き会員登録をお願いいたします。
まだ会員登録手続きは完了しておりませんので、ご注意ください。
{{ protocol }}://{{ domain }}/{{ url|safe }}

本登録を完了することで、アカウントが有効になります。

{{ site_name }}運営チーム
{% endblock text_body %}

{% block html_body %}
<p>会員登録手続きを行っていただき、ありがとうございます。</p>

<p>下記URLよりサイトにアクセスの上、引き続き会員登録をお願いいたします。</p>
<p>まだ会員登録手続きは完了しておりませんので、ご注意ください。</p>
<p>{{ protocol }}://{{ domain }}/{{ url|safe }}</p>

<p>本登録を完了することで、アカウントが有効になります。</p>

<p>{{ site_name }}運営チーム</p>

{% endblock html_body %}
